$primary: #ec2d4d;
$secondary: #141619;
$min-contrast-ratio: 3;
$dark-indicator-background: #ffffff;
$light-indicator-background: black;

@import "bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@include color-mode(light) {
  --bs-body-bg: var(--bs-light);

  .bg-secondary {
    background-color: var(--bs-white) !important;
  }
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target] {
  background-color: $dark-indicator-background !important;
}
[data-bs-theme="light"] .carousel .carousel-indicators [data-bs-target] {
  background-color: $light-indicator-background !important;
}

.card {
  border: 0;
}

.position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w-sm {
  width: 1.9125rem;
}

.h-sm {
  height: 1.9125rem;
}

.w-md {
  width: 2.35rem;
}

.h-md {
  height: 2.35rem;
}

.w-lg {
  width: 2.975rem;
}

.h-lg {
  height: 2.975rem;
}

.h-xl {
  height: 5rem;
}
