@media (min-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 4rem;
  }
}

[data-bs-theme="dark"] .blur-img {
  background-image: linear-gradient(
    to top,
    rgb(20, 22, 25),
    rgb(20, 22, 25),
    rgba(20, 22, 25, 0.9),
    transparent
  );
}

[data-bs-theme="light"] .blur-img {
  background-image: linear-gradient(
    to top,
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.9),
    transparent
  );
}

.overview-detail {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cast-items {
  cursor: pointer;
  &:hover {
    .cast-name-overlay {
      opacity: 1;
    }
  }
}

/* Dark theme */
[data-bs-theme="dark"] .cast-name-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Light theme */
[data-bs-theme="light"] .cast-name-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.cast-name-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}

