.items {
  cursor: pointer;
  transform: translateY(0);
  transition: transform 0.3s ease;
  z-index: 1;
  // &:first-child {
  //   &:hover {
  //     z-index: 2;
  //     transform: translateX(25%) translateY(-70%) scale(1.5);
  //     transition-delay: 0.7s;

  //     .video-container {
  //       display: block;
  //     }

  //     .detail {
  //       animation: showDetail 0.3s ease forwards;
  //       animation-delay: 0.7s;
  //     }

  //     .movie-name-overlay {
  //       opacity: 1;
  //       z-index: 2;
  //     }
  //   }
  // }
  // &:last-child {
  //   &:hover {
  //     z-index: 2;
  //     transform: translateX(-25%) translateY(-70%) scale(1.5);
  //     transition-delay: 0.7s;

  //     .video-container {
  //       display: block;
  //     }

  //     .detail {
  //       animation: showDetail 0.3s ease forwards;
  //       animation-delay: 0.7s;
  //     }

  //     .movie-name-overlay {
  //       opacity: 1;
  //       z-index: 2;
  //     }
  //   }
  // }
  &:hover {
    z-index: 2;
    transform: translateY(-70%) scale(1.5);
    transition-delay: 0.7s;
    .video-container {
      display: block;
    }
    .detail {
      animation: showDetail 0.3s ease forwards;
      animation-delay: 0.7s;
    }
    .movie-name-overlay {
      opacity: 1;
      z-index: 2;
    }
  }
}

.detail {
  height: 0;
  transform: translateY(0);
  transition: transform 0.3s ease, height 0.3s ease;
}

@keyframes showDetail {
  from {
    height: 0;
    transform: translateY(0);
  }
  to {
    height: auto;
    transform: translateY(99%);
  }
}

.movie-name-overlay {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Dark theme */
[data-bs-theme="dark"] .movie-name-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Light theme */
[data-bs-theme="light"] .movie-name-overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.like-items.btn-group {
  opacity: 0;
  visibility: hidden;
  background-color: rgb(33, 37, 41);
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.like:hover {
  .like-items.btn-group {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

ul.genre-list li {
  white-space: nowrap;
  overflow-wrap: break-word;
  &:not(:first-child)::before {
    content: "•";
    color: gray;
    margin-right: 5px;
  }
}
